.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 20px 60px;
}

img {
  height: 50px;
  width: 100px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
ul li a {
  text-decoration: none;
  color: black;
}

.active {
  color: red;
  font-size: 18px;
}
