* {
  margin: 0;
  padding: 0;
}
.gridContainer {
  height: 90vh;
  border: 1px solid black;
  margin: 10px;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: repeat(4, 200px); */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(2, 1fr) 2fr; */
  /* grid-template-rows: 100px 100px 100px; */
  /* row-gap: 10px;
  column-gap: 20px; */
  /* gap: 20px; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* align-content: center; */
}
.item {
  padding: 50px;
  color: red;
  background-color: yellow;
  font-size: 28px;
  font-weight: 700;
  border: 1px solid red;
}
.item:nth-child(2) {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  grid-column: 2/4;
  /* grid-row-start: 3;
  grid-row-end: 4; */
  grid-row: 3/4;
}

.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  gap: 10px;
  background-color: lightcyan;
  grid-template-areas: "header header header" "nav main aside" "footer footer footer";
}

header {
  grid-area: header;
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: blue;
}
main {
  grid-area: main;
  background-color: green;
  font-weight: 700;
  color: red;
}
aside {
  grid-area: aside;
  background-color: purple;
  color: white;
}
footer {
  grid-area: footer;
  background-color: black;
  color: white;
  text-align: center;
}

/* Standard Media Queries */
/* 1. Mobile Devices less than 576px */
/* 2. tabs 577px - 768px */
/* 3. Small Screens 769px- 992px */
/* 4. Normal Screens 993px-1200px */

@media (max-width: 576px) {
  /* for Mobiles */
  .layout {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header " "nav main " "footer footer ";
  }
  aside {
    display: none;
  }
  nav {
    background-color: yellow;
    color: green;
  }
  main {
    background-color: red;
    color: white;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* For Tabs */
  .layout {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: " header header" " main aside" " footer footer";
  }
  nav {
    display: none;
  }
}
